@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}


.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.wrap {
    width :1440px;
    margin : 0 auto;
    background: #FFFAF0;
    min-height: 100vh;
}

.header-wrap{
    width : 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE; 
}

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE; 
    display: flex;
    margin: 0 auto;   
    width : 1224px;
    height : 120px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 187px;
    height : 75px;
}

.a-join {
    color : #5A6A72;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-decoration-line: none;
}

.user-img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

main {
    display: flex;
    margin : 0 auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.main-title-logo {
    display: block;
    width: 299.2px;
    height: 120px;
    margin: 71px auto 29px auto;
}
.main-title{
    width: 100%;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #29363D;
    text-align: center;
    margin-bottom : 40px;
 }

 .form {
    width: 392px;
 }
.label-input {
    display: block;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left; 
    color : #29363D;
    padding-bottom: 8px;
}

.input{
    width: 100%;
    height: 48px;
    border : 1px solid #677880;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 24px;
}

.btn-submit {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
    background-color: #29363d;
    color :#F4F5F5;
}


.copyright {
    margin-top : 54px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
    color :#677880;
}