@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #fffaf0;
}
.header {
  background-color: white;
  width: 1440px;
  height: 120px;
  display: flex;
}

.headercontent {
  width: 1224px;
  height: 120px;
  margin: 22px 0 0 108px;
  display: flex;
}
.headerlogo {
  width: 187px;
  height: 75px;
  left: 0px;
  top: 0px;
}
.highlight {
  background: linear-gradient(pink 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  font-weight: 700;
}
.newtext {
  position: absolute;
  margin: 20px 0 0 1000px;
  display: flex;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.bar::after {
  content: "|";
  margin: 0 10px 0 10px;
  color: #d8ddde;
}
.main {
  display: flex;
}

.section01 {
  width: 416px;
  height: 536px;
  margin: 26px 0 0 108px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.section01 > h2 {
  font-family: "Pretendard-Regular";
  font-weight: 700;
  display: block;
}

.heart::before {
  width: 32px;
  height: 32px;
  content: "";
  background: url(./images/heart.png);
  display: inline-block;
}
.title01 {
  width: 416px;
  height: 48px;
  font-family: "Pretendard-Regular";
  border: 0;
  border-radius: 4px, 4px, 0px, 0px;
  border-bottom: 1px solid #677880;
  margin: 10px 0 10px 0;
}

#bodytext {
  width: 416px;
  height: 360px;
  font-family: "Pretendard-Regular";
  color: #677880;
  border: 1px solid #677880;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

.write {
  width: 423px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  color: white;
  font-family: "Pretendard-Regular";
  background-color: #29363d;
}

.line {
  position: relative;
  width: 3px;
  height: 1536px;
  background-color: #ff4f6e;
  margin-left: 50px;
  opacity: 50%;
}
.section02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 728px;
  height: 268px;
  position: relative;
}
.article1 {
  margin-bottom: 120px;
}

.quotestart01 {
  background-color: ;
  width: 80;
  height: 40;
  position: absolute;
  margin: 60px 0 0 75px;
  background-color: #fffaf0;
}

.box1 {
  box-sizing: border-box;
  position: absolute;
  width: 728px;
  height: 241px;
  left: 45px;
  top: 78px;
}

.textbox01 {
  display: flex;
  align-items: center;
  margin: 128px 0 20px 78px;
  font-family: "Pretendard-Regular";
  color: #29363d;
  justify-content: space-between;
}
.textbox01 > h3 {
  font-weight: 700;
}

.textbox01 > time {
  font-weight: 400;
  font-size: 12px;
}

.bodytext {
  margin: 0 0 0 80px;
  width: 632px;
  font-family: "Pretendard-Regular";
  color: #5a6a72;
  font-size: 14px;
  line-height: 19.6px;
}

.article2 {
  margin-bottom: 80px;
}
.box2 {
  box-sizing: border-box;
  position: absolute;
  width: 728px;
  height: 241px;
  left: 45px;
}

.textbox02 {
  width: 632px;
  display: flex;
  align-items: center;
  margin: 50px 0 20px 78px;
  font-family: "Pretendard-Regular";
  color: #29363d;
  justify-content: space-between;
}
.textbox02 > h3 {
  font-weight: 700;
}

.textbox02 > time {
  font-weight: 400;
  font-size: 12px;
}

.article3 {
  margin-bottom: 100px;
}
.box3 {
  box-sizing: border-box;
  position: absolute;
  width: 728px;
  height: 241px;
  left: 45px;
}

.textbox03 {
  width: 632px;
  display: flex;
  align-items: center;
  margin: 50px 0 20px 78px;
  font-family: "Pretendard-Regular";
  color: #29363d;
  justify-content: space-between;
}
.textbox03 > h3 {
  font-weight: 700;
}

.textbox03 > time {
  font-weight: 400;
  font-size: 12px;
}
.box4 {
  box-sizing: border-box;
  position: absolute;
  width: 728px;
  height: 241px;
  left: 45px;
}

.textbox04 {
  width: 632px;
  display: flex;
  align-items: center;
  margin: 50px 0 20px 78px;
  font-family: "Pretendard-Regular";
  color: #29363d;
  justify-content: space-between;
}
.textbox04 > h3 {
  font-weight: 700;
}

.textbox04 > time {
  font-weight: 400;
  font-size: 12px;
}
